.main_detailsOne {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  grid-gap: 35px;
}

.greeting_container_detailsOne {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--input-border);
  padding: 30px;
  border-radius: 10px;
  background: var(--background-secondary);
}

.greeting_box_detailsOne {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting_left_section_detailsOne h4,
.greeting_left_section_detailsOne p {
  color: var(--black-color);
}

.greeting_right_section_detailsOne {
  padding: 0 10px;
}

.btn_primary_detailsOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 6px 20px 6px 20px;
  width: 100%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 700;
  background-color: var(--create-btn);
  color: var(--white-color);
  cursor: pointer;
  font-style: normal;
  transition: 0.1s;
  white-space: nowrap;
}

.btn_primary_detailsOne:hover {
  background-color: var(--create-btn-hover);
}

.btn_primary_logo_detailsOne {
  color: var(--white-color);
}

.form_container_detailsOne {
  width: 100%;
  border: 1px solid var(--input-border);
  border-radius: 10px;
  padding: 35px 45px;
}

.form_main_box_detailsOne {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.form_box_detailsOne {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.form_box_detailsOne input {
  outline: none;
  padding: 12px 10px;
  width: 100%;
  border: 1px solid var(--input-border);
  color: var(--input-color);
  border-radius: 5px;
  font-size: 1rem;
  margin: 3px 0;
  transition: 0.1s;
  background-color: var(--header-bg);
}

.form_box_detailsOne input:hover {
    border: 1px solid var(--input-hover);
}

.form_box_detailsOne input:focus {
    border-color: var(--input-focus);
}

.box1_detailsOne {
    grid-area: 1 / 1 / 2 / 2;
}

.box2_detailsOne {
    grid-area: 1 / 2 / 2 / 3;
}

.box3_detailsOne {
    grid-area: 2 / 1 / 3 / 2;
}

.box4_detailsOne {
    grid-area: 2 / 2 / 3 / 3;
}

.box5_detailsOne {
    grid-area: 3 / 1 / 4 / 2;
}

.box6_detailOne {
  grid-area: 3 / 2 / 4 / 3;
}

.box7_detailOne {
  grid-area: 4 / 1 / 5 / 2;
}

.box8_detailOne {
  grid-area: 4 / 2 / 5 / 3;
}

.box9_detailsOne {
  grid-area: 5 / 1 / 6 / 2;
}

.label_detailsOne {
  font-weight: 700;
  color: var(--para-color);
  font-size: 1rem;
  margin-left: 2px;
}

.select_detailsOne {
    outline: none;
  padding: 12px 10px;
  width: 100%;
  border: 1px solid var(--input-border);
  color: var(--input-color);
  border-radius: 5px;
  font-size: 1rem;
  margin: 3px 0;
  transition: 0.1s;
  background-color: var(--header-bg);
}

.select_detailsOne:hover {
    border: 1px solid var(--input-hover);
}

.select_detailsOne:focus {
    border-color: var(--input-focus);
}

.form_container_detailsOne .btn_primary_detailsOne {
    display: none;
}

.selected_domains_container_detailsOne {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  grid-gap: 10px;
}

.selected_domains_box_detailsOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 8px;
  padding: 4px 10px;
  background-color: var(--primary-background);
  border-radius: 10px;
  color: var(--black-color);
  cursor:default;
}

.selected_domains_icon_detailsOne {
  cursor: pointer;
}

.video_para_detailsOne {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
}

.errors_msg_detailsOne {
  color: var(--warning-color);
  font-size: 16px;
}

@media screen and (max-width: 960px) {
    .main_detailsOne {
        padding: 0;
    }
    
    .greeting_container_detailsOne {
        border-radius: 0px;
    }

    .form_container_detailsOne {
        padding: 35px 25px;
        border: none;
    }

    .form_main_box_detailsOne {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
    }

    .form_container_detailsOne .btn_primary_detailsOne {
        display: flex;
        margin: 40px 0 20px 0;
        padding: 8px 20px 8px 20px
    }
}

@media screen and (max-width: 780px) {
    .main_detailsOne {
        grid-gap: 15px;
    }

    .form_container_detailsOne {
      padding: 30px 15px;
  }
}

@media screen and (max-width: 470px) {
  .errors_msg_detailsOne {
    font-size: 15px;
  }
}