.main_container_internshipdetail {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.details_container_internshipdetail {
  width: 70%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.top_section_internshipdetail {
  display: flex;
  justify-content: center;
}

.top_section_internshipdetail h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: var(--menu-link);
}

.main_internship_container_internshipdetail {
  display: flex;
  flex-direction: column;
  padding: 23px;
  background-color: var(--header-bg);
  width: 100%;
  grid-gap: 20px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
}

.internship_container_internshipdetail {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  transition: 0.2s all ease-in-out;
}

.top_section_internship_internshipdetail {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.left_section_internship_internshipdetail h2 {
  font-size: 24px;
  color: var(--menu-link);
  font-weight: 600;
  line-height: 1.33;
}

.left_section_internship_internshipdetail h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.43;
  color: var(--para-color);
}

.right_section_internship_internshipdetail {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  position: relative;
}

.status_container_internship_internshipdetail {
  display: none;
}

.experience_icon_container_internshipdetail {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.beginner_internshipdetail {
  border: 1px solid rgb(46, 201, 113);
  color: rgb(46, 201, 113);
}

.intermediate_internshipdetail {
  border: 1px solid rgb(255, 145, 66);
  color: rgb(255, 145, 66);
}

.expert_internshipdetail {
  border: 1px solid rgb(251, 94, 94);
  color: rgb(251, 94, 94);
}

.experience_icon_container2_internshipdetail {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.info_icon_internshipdetail {
  font-size: 15px;
  cursor: pointer;
  color: var(--light-gray);
}

.remote_container_internshipdetail,
.remote_container2_internshipdetail {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 11px;
  border-radius: 5px;
  border: 1px solid var(--input-border);
  background-color: var(--primary-lightest);
  color: var(--primary-color);
}

.mid_section_internship_internshipdetail {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.upper_mid_section_internshipdetail,
.perks_container_internshipdetail {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.skill_section_internshipdetail {
  padding: 5px 14px;
  background-color: var(--primary-background);
  border-radius: 14px;
  color: var(--black-color);
}

.lower_mid_section_internshipdetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}

.lower_top_internshipdetail {
  display: flex;
  align-items: center;
  grid-gap: 7px;
}

.lower_top_internshipdetail p {
  font-size: 15px;
  font-weight: 500;
  color: var(--menu-link);
  line-height: 1.57142857;
  text-transform: capitalize;
}

.general_icons_internshipdetail {
  width: 16px;
  height: 16px;
  color: var(--light-gray);
}

.lower_bottom_internshipdetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}

.info_container_internshipdetail {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.info_upper_container_internshipdetail {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.info_upper_container_internshipdetail p {
  font-size: 16px;
  font-weight: 500;
  color: var(--light-gray);
  letter-spacing: 0.5px;
}

.info_lower_container_internshipdetail p,
.bottom_upper_section_internshipdetail p,
.bottom_lower_section_internshipdetail p {
  font-size: 15px;
  font-weight: 500;
  color: var(--menu-link);
  line-height: 1.57142857;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}

.bottom_section_internship_internshipdetail {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}

.bottom_upper_section_internshipdetail {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.applicants_icon_internshipdetail {
  color: var(--light-gray);
  font-size: 24px;
}

.bottom_lower_section_internshipdetail {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.bottom_lower_section_internshipdetail h3 {
  font-size: 18px;
  color: var(--menu-link);
}

.bottom_lower_section_internshipdetail h4 {
  font-size: 16px;
  color: var(--light-gray);
}

.line_internshipdetail {
  width: 100%;
  height: 1px;
  background-color: var(--input-border);
  margin-bottom: 5px;
}

.para_internshipdetail p {
  font-size: 15px;
  color: var(--para-color);
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.button_section_internshipdetail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.btn_primary_internshipdetail {
  min-width: 90px;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 18px;
  border-radius: 0.313rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.btn_primary_internshipdetail:hover {
  background-color: var(--primary-light);
}

.btn_light_internshipdetail {
  min-width: 90px;
  background-color: transparent;
  color: var(--primary-color);
  padding: 9px 14px;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.btn_light_internshipdetail:hover {
  background-color: var(--primary-lightest);
}




@media screen and (max-width: 1220px) {
  .details_container_internshipdetail {
    width: 75%;
  }

  .lower_bottom_internshipdetail {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1110px) {
  .details_container_internshipdetail {
    width: 95%;
  }
  .main_details_container_internshipdetail {
    width: 100%;
  }

  .right_section_container_internshipdetail {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  .main_container_internshipdetail {
    padding: 30px 15px;
  }

  .btn_light_internshipdetail,
  .btn_primary_internshipdetail {
    padding: 8px 11px;
  }

  .details_container_internshipdetail {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .main_container_internshipdetail {
    padding: 35px 0;
  }

  .details_container_internshipdetail {
    width: 100%;
  }

  .main_internship_container_internshipdetail {
    border-radius: 0;
  }

  .top_section_internshipdetail h2 {
    font-size: 25px;
  }

  .left_section_internship_internshipdetail h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 660px) {
  .main_container_internshipdetail {
    padding: 20px 0;
  }

  .main_internship_container_internshipdetail {
    padding: 20px;
  }

  .info_upper_container_internshipdetail {
    grid-gap: 5px;
  }
}

@media screen and (max-width: 560px) {
  .main_container_internshipdetail {
    padding-left: 0;
    padding-right: 0;
  }

  .main_details_container_internshipdetail {
    grid-gap: 20px;
  }

  .top_section_internshipdetail {
    padding: 0 15px;
  }

  .top_section_internshipdetail h2 {
    text-align: left;
    font-size: 22px;
  }

  .lower_bottom_internshipdetail {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 30px;
  }

  .left_section_internship_internshipdetail h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 470px) {
  .main_internship_container_internshipdetail {
    padding: 15px;
  }

  .top_section_internshipdetail h2 {
    font-size: 20px;
  }

  .btn_light_internshipdetail,
  .btn_primary_internshipdetail {
    font-size: 0.9rem;
    padding: 7px 10px;
  }

  .internship_container_internshipdetail,
  .mid_section_internship_internshipdetail {
    grid-gap: 15px;
  }

  .skill_section_internshipdetail p,
  .lower_top_internshipdetail p,
  .info_lower_container_internshipdetail p,
  .bottom_upper_section_internshipdetail p,
  .para_internshipdetail p,
  .info_lower_container_internshipdetail p,
  .bottom_lower_section_internshipdetail p {
    font-size: 14px;
  }

  .bottom_lower_section_internshipdetail h3 {
    font-size: 17px;
  }

  .bottom_lower_section_internshipdetail h4 {
    font-size: 15px;
  }

  .info_upper_container_internshipdetail p {
    font-size: 15px;
  }

  .status_container_internship_internshipdetail {
    display: flex;
    grid-gap: 15px;
  }

  .experience_icon_container_internshipdetail,
  .remote_container_internshipdetail {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .info_upper_container_internshipdetail p {
    font-size: 14px;
  }

  .lower_bottom_internshipdetail {
    grid-column-gap: 20px;
  }
}
