.main_box_coursesadmin {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }
  
  .main_container_coursesadmin {
    background-color: var(--white-color);
    padding: 30px;
    border: 1px solid var(--input-border);
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 25px;
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgb(82 63 105 / 5%);
  }
  
  .top_section_coursesadmin h2 {
    color: var(--primary-color);
  }
  
  .mid_section_coursesadmin {
    width: 100%;
    padding: 0 20px;
  }
  
  .form_container_coursesadmin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  
  .form_box_coursesadmin {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }
  
  .mid_section_coursesadmin label {
    font-weight: 700;
    color: var(--para-color);
    font-size: 1rem;
    margin-left: 2px;
  }
  
  .mid_section_coursesadmin input,
  .mid_section_coursesadmin textarea {
    outline: none;
    padding: 10px 8px;
    width: 100%;
    border: 1px solid var(--input-border);
    color: var(--input-color);
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.1s;
    background-color: var(--header-bg);
  }
  
  .mid_section_coursesadmin input:hover,
  .mid_section_coursesadmin textarea:hover {
    border: 1px solid var(--input-hover);
  }
  
  .mid_section_coursesadmin input:focus,
  .mid_section_coursesadmin textarea:focus {
    border-color: var(--input-focus);
  }
  
  .bottom_section_coursesadmin {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
  }
  
  .btn_primary_coursesadmin {
    min-width: 90px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 9px 15px;
    border-radius: 0.313rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  
  .btn_primary_coursesadmin:hover {
    background-color: var(--primary-light);
  }
  
  .errors_msg_coursesadmin {
    color: var(--warning-color);
    font-size: 16px;
  }
  
  .testimonial_container_coursesadmin {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  grid-row-gap: 15px;
  }

  .testimonial_container_coursesadmin a {
    text-decoration: none;
  }
  
  .testimonial_box_coursesadmin {
    display: flex;
    flex-direction: column;
    
    grid-gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--primary-lightest);
    border: 1px solid var(--input-border);
  }

  .testimonial_box_coursesadmin:hover {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 15%);
  }
  
  .testimonial_box_upper_section_coursesadmin {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
  
  .testimonial_box_upper_section_coursesadmin img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }

  .testimonial_details_coursesadmin {
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
  }
  
  .testimonial_details_coursesadmin h3 {
    color: var(--para-color);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -.02em;
    max-width: 406px;
    text-align: left;
    text-transform: uppercase;
  }
  
  .testimonial_details_coursesadmin h2 {
    color: var(--info-color-dark);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -.02em;
    text-align: left;
    text-transform: capitalize;

  }
  
  .testimonial_details_coursesadmin p {
    color: var(--info-color-light);
    text-align: left;
    font-weight: 500;
    font-size: 15px;
  }


  .course_info_coursesadmin {
    display: flex;
    align-items: center;
    grid-gap: 2px;
  }

  .course_info_coursesadmin p {
    font-size: 14px;
    font-weight: 500;
    cursor: auto;
    color: #e59819;
    margin-right: 5px;
  }

  .course_info_coursesadmin h6 {
    font-size: 12px;
    font-weight: 400;
    color: var(--info-color-light);
    margin-left: 5px;
  }

  .star_icon_courseadmin {
    font-size: 14px;
    cursor: auto;
    color: #e59819;
  }

  
  .testimonial_box_bottom_section_coursesadmin {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
  }

  .testimonial_box_bottom_section_coursesadmin a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
  }
  
  .testimonial_box_bottom_section_coursesadmin a:hover {
    color: var(--primary-light);
    text-decoration: underline;
  }
  
  .btn_delete_coursesadmin {
    min-width: 90px;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    grid-gap: 8px;
    padding: 9px 14px;
    border-radius: 0.313rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  
  .btn_delete_coursesadmin:hover {
    background-color: var(--primary-light);
  }
  
  .delete_icon_coursesadmin {
    font-size: 14px;
    color: #fff;
  }

  .main_msg_coursesadmin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  .main_msg_coursesadmin p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--warning-color);
  }
  
  @media screen and (max-width: 1090px) {
    .main_msg_coursesadmin p {
      font-size: 16px;
    }

    .testimonial_box_upper_section_coursesadmin img {
      height: 230px;
    }

    .testimonial_box_bottom_section_coursesadmin a {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 720px) {
    .main_box_coursesadmin {
      padding: 25px;
    }
  
    .mid_section_coursesadmin,
    .bottom_section_coursesadmin {
      padding: 0;
    }
  
    .form_container_coursesadmin {
      display: flex;
      flex-direction: column;
      grid-row-gap: 20px;
    }

    .testimonial_container_coursesadmin {
      display: flex;
      flex-direction: column;
      grid-gap: 15px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .main_box_coursesadmin {
      padding: 25px 0;
    }
  
    .main_container_coursesadmin {
      border: none;
      border-radius: 0;
      padding: 30px 20px;
    }

    .main_msg_coursesadmin p {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .main_container_coursesadmin {
      padding: 20px;
    }
  
    .top_section_coursesadmin h2 {
      font-size: 22px;
    }
  
    .errors_msg_coursesadmin {
      font-size: 15px;
    }
  }
  