@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.sub_header_education {
  width: 100%;
  background-color: var(--header-bg);
  padding: 5px 40px;
  height: 3rem;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--background-secondary-hover);
  position: fixed;
  z-index: 110;
  box-shadow: 0 0 8px 2px rgb(0 0 0 / 5%);
}

.sub_header_education h5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 0;
}

.section_education {
  z-index: 100;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  height: 100%;
}

.main_container_education {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 30px;
  padding: 78px 30px 30px 30px;
}

.page_loading_container_education {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.add_section1_education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  padding-top: 80px;
}

.add_section1_logo_education {
  display: inline-block;
  background-color: var(--input-border);
  padding: 14px 20px;
  border-radius: 50px;
}

.add_section1_icon_education {
  color: var(--black-color);
}

.add_section1_details_education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}

.add_section1_details_education h2 {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  color: var(--black-color);
}

.add_section1_details_education p {
  color: var(--para-color);
  text-align: center;
}

.btn_light_education {
  min-width: 90px;
  background-color: transparent;
  color: var(--primary-color);
  padding: 9px 14px;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.btn_light_education:hover {
  background-color: var(--primary-lightest);
}

.btn_primary_education {
  min-width: 90px;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 9px 14px;
  border-radius: 0.313rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.btn_primary_education:hover {
  background-color: var(--primary-light);
}

.add_section2_education {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--header-bg);
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s all ease-in-out;
}

.add_section2_education:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.003);
}

.add_section2_left_education {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  grid-gap: 20px;
}

.add_section2_logo_education {
  display: inline-block;
  background-color: var(--background-secondary);
  padding: 10px 14px;
  border-radius: 50px;
}

.add_section2_icon_education {
  color: var(--black-color);
}

.add_section2_details_education {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  max-width: 460px;
}

.add_section2_details_education h2 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--black-color);
}

.add_section2_details_education p {
  color: var(--para-color);
  font-size: 0.9rem;
}

.content_container_education {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--header-bg);
  width: 100%;
  grid-gap: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s all ease-in-out;
}

.content_container_education:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.003);
}

.top_section_content_education {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_section_content_education h4 {
  font-size: 17px;
  font-weight: 600;
  color: var(--black-color);
  text-transform: uppercase;
}

.content_logo_container_education {
  display: flex;
  grid-gap: 10px;
}

.content_logo_education {
  padding: 3px 20px;
  background-color: var(--background-secondary);
  border-radius: 18px;
  cursor: pointer;
}

.content_icon_education {
  color: var(--primary-color);
}

.content_logo_education:hover {
  background-color: var(--background-secondary-hover);
}

.bottom_section_content_education h4 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: var(--para-color);
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

.bottom_section_content_education h3 {
  font-size: 14px;
  color: var(--info-color-dark);
}

.modal_backgound_education {
  width: 100vw;
  height: 100vh;
  background: rgba(30, 39, 46, 0.95);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 900;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 40px;
  /* overflow: auto; */
}

.modal_container_education {
    /* height: 100%; */
  background-color: var(--white-color);
  padding: 32px;
  border: 1px solid var(--input-border);
  width: 727px;
  min-width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
  overflow-y: scroll;
}

.modal_top_section_education h2 {
  color: var(--black-color);
}

.modal_mid_section_education form {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
}

.form_box_education {
  display: flex;
  flex-direction: column;
  grid-gap: 7px;
}

.form_box_education label {
  font-weight: 700;
  color: var(--para-color);
  font-size: 1rem;
  margin-left: 2px;
}

.form_box_education input {
  outline: none;
  padding: 12px 10px;
  width: 100%;
  border: 1px solid var(--input-border);
  color: var(--input-color);
  border-radius: 5px;
  font-size: 1rem;
  margin: 3px 0;
  transition: 0.1s;
  background-color: var(--header-bg);
}

.form_box_education input:hover {
  border: 1px solid var(--input-hover);
}

.form_box_education input:focus {
  border-color: var(--input-focus);
}

.errors_msg_education {
  color: var(--warning-color);
  font-size: 16px;
}

.modal_bottom_section_education {
  display: flex;
  justify-content: flex-end;
}



@media screen and (max-width: 1020px) {
  .add_section2_details_education {
    max-width: 360px;
  }

  .btn_light_education, .btn_primary_education {
    padding: 8px 10px;
  }
}

@media screen and (max-width: 830px) {
    .modal_backgound_education {
      padding: 80px 20px 40px 20px;
    }
  }

@media screen and (max-width: 660px) {
  .add_section2_details_education {
    max-width: 280px;
  }

  .add_section2_left_education {
    grid-gap: 10px;
  }
}

@media screen and (max-width: 560px) {
  .add_section2_education {
    flex-direction: column;
    grid-gap: 10px;
  }

  .add_section2_details_education {
    max-width: max-content;
  }

  .add_section2_details_education h2 {
    font-size: 0.9rem;
  }

  .add_section2_details_education p {
    font-size: 0.8rem;
  }

  .btn_light_education, .btn_primary_education {
    font-size: 15px;
  }

  .modal_container_education {
    padding: 16px;
  }

  .page_loading_container_education img {
    width: 100px;
  }
}

@media screen and (max-width: 470px) {
  .main_container_education {
    padding: 68px 15px 15px 15px;
  }

  .add_section2_education {
    padding: 10px;
  }

  .add_section2_left_education {
    flex-direction: column;
  }

  .add_section2_logo_education {
    padding: 9px 9px 6px 9px;
  }

  .add_section2_details_education h2 {
    text-align: center;
  }

  .add_section2_details_education p {
    text-align: center;
  }

  .top_section_content_education h4 {
    font-size: 16px;
    font-weight: 500;
  }

  .bottom_section_content_education h4 {
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  .bottom_section_content_education h3 {
    font-size: 13px;
    font-weight: 500;
  }

  .content_logo_education {
    padding: 2px 10px 0 10px;
  }
}
